*{
    font-family: Arial, sans-serif;
}

.container {
    border: 2px solid gray;
    border-radius: 8px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.418);
}

.input-style {
    display: block;

    input{
    padding: 4px;
    width: 95%;
    margin: 5px;
    border-radius: 5px;
    border: gray solid 2px;

    }
}

.input-style-1{
    display: block;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    border: gray solid 2px;
    min-width: 70px;
}

.heading {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 1rem 1rem 0;
    border-bottom: 4px solid #e4cd4a;
}
.submit {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;

    button {
        border: #009FD4 solid;
        height: 2rem;
        border-radius: 6px;
        background-color: #009FD4;
        color: white;
        font-weight: bold;
        font-size: medium;   
    }
}

.button-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
    margin: 10px 5px 10px 0;
    border: 2px black solid;
    font-size: medium;
    border-radius: 5px;
    background-color: #e4cd4a;
    font-weight: 600;
    }
}
.button-style-1 {
    display: inline;
    margin: 10px 5px 10px 0;
    border: 2px black solid;
    font-size: 1rem;
    background-color: #e4cd4a;
    font-weight: 600;
    justify-content: space-between;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.hidden {
    animation: fadeOut 1s forwards;
}

@media print {
    body {
        background-color: white;
        width: 215mm;
        height: 279mm;
        margin: 1rem;
    }
}

.pinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    img{
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }
    .info {
        flex-direction: column;
    }
}

.line-break {
    border-bottom: 2px solid #e4cd4a;
}
.p-light {
    font-weight: 300;
}
.p-italic {
    font-style: italic;
}
.p-heading {
    font-weight: 900;
    font-size: 1rem;
}
.content-align {
    padding: 3rem;
}